.navigation {
  max-width: 2560px;
  background-color: #656060;
  padding: 1rem 0rem;
  width: 100%;
  justify-content: flex-end;
  
}

.navList {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  font-size: large;
  
}

.navList li a {
  color: rgb(66, 22, 176);
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding-left: 0%;
  transition: transform 0.2s ease;
  padding: 1rem;
  
}

.navList li a:hover {
  /*text-decoration: underline;*/
  transform: scale(1.05);
  
}
